<div class='page-header'>
  <h1>Presentations</h1>
</div>

    <%@assignments.each do |assignment| %>
      <div class='row'><h2><%=assignment.title%></h2>
      <% getPresentations(assignment.id).each do |presentation| %>
      <div class = 'col-md-4'>
        <ul>
          <%getSteps(presentation.assignment_author, assignment.id).each do |step|%>
          <li><%=step.title%></li>
          <%end%>
        </ul>
        <%if !getPresentationComment(assignment.id,presentation.assignment_author).blank?%>
          <h3>Comment:</h3>
          <p><%=getPresentationComment(assignment.id,presentation.assignment_author)[0].text%></p>
        <%end%>
        <%= link_to "View presentation", present_path(assignment.id,presentation.assignment_author), class:'btn btn-primary' %>
      </div>
    <%end%>
  </div>
<%end%>
