<li>
	<%= link_to(step.title, assignment_path(@assignment.id)+"/"+params[:assignment_author]+"/"+step.id.to_s)%>
	<% unless step.children.empty? %>
	<ul>
		<%= render step.children %>
	</ul>
	<% end %>
</li>