<!DOCTYPE html>
<html>
	<head>
		<title>Add page to path</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
			
	</head>
	<body class='presentations'>
		<div class='container'>
			<div class='page-header'>
				<h1>Step has been added!</h1>
			</div>
			<p>This step will now appear on the main website.</p>
			<a href='javascript:window.close()' class='btn btn-primary'>Close window</a>
			
		</div>
	</body>
</html>