$navbar-inverse-bg: #444;
$navbar-inverse-link-color: #FFF;
$navbar-inverse-brand-color: #FFF;

$text-color: #444;

$assignments-color: #7834AC;
$favorites-color: #1C9B0F;
$presentations-color: #29929C;